<div class="timeline" layout="column" layout-align="center center">
  <h2>An&aacute;lisis Trimestral</h2>
  <p class="descripcion">
    Duas molestias excepturi sint occaecati cupiditate non provident, similique
    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
    fuga.
  </p>
  <div class="rule" layout="row" layout-align="center center"></div>
  <div class="weeks" layout="row">
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(0)"
    >
      <p>4</p>
    </div>
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(1)"
    >
      <p>9</p>
    </div>
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(2)"
    >
      <p>13</p>
    </div>
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(3)"
    >
      <p>18</p>
    </div>
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(4)"
    >
      <p>22</p>
    </div>
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(5)"
    >
      <p>27</p>
    </div>
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(6)"
    >
      <p>31</p>
    </div>
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(7)"
    >
      <p>36</p>
    </div>
    <div
      class="week"
      layout="column"
      layout-align="center center"
      ng-click="showDialog(8)"
    >
      <p>40</p>
    </div>
  </div>
  <div class="quarters" layout="row">
    <div class="quarter" layout="column" layout-align="center center">
      <p class="trimestre">Primer Trimestre</p>
      <p class="peso">0.4kg - 2.0kg</p>
    </div>
    <div class="quarter" layout="column" layout-align="center center">
      <p class="trimestre">Segundo Trimestre</p>
      <p class="peso">2.0kg - 8.0kg</p>
    </div>
    <div class="quarter" layout="column" layout-align="center center">
      <p class="trimestre">Tercer Trimestre</p>
      <p class="peso">8.0kg - 13.6kg</p>
    </div>
  </div>
</div>
