<header layout="row" layout-align="space-between center" flex="100" class="header">
  <div flex="30" flex-sm="50" flex-md="50" class="logo-container" flex-xs="100">
    <logo-app></logo-app>
  </div>
  <div flex="70" flex-sm="50" flex-md="50" class="nav-container" hide-xs>
    <nav layout="row" layout-align="space-between stretch">
      <a href="#inicio">Inicio</a>
      <a href="#acerca">Acerca de</a>
      <a href="#servicios">Servicios</a>
      <a href="#contacto">Contacto</a>
    </nav>
  </div>
</header>