<section class="acerca" id="acerca" layout="column" layout-align="start center">
  <h1 data-aos="fade-up">Acerca de</h1>
  <div class="avatar" data-aos="fade-up"></div>
  <p data-aos="fade-up">
    Soy la Dra. Mariela Chavarría Montero, médico cirujano con más de 7 años de experiencia en salud
    materno-infantil.
    Trabajo en la Caja Costarricense de Seguro Social brindando atención en control prenatal y desarrollo infantil, y
    en
    mi consulta privada ofrezco acompañamiento integral durante el embarazo, posparto, adolescencia y en el manejo de
    enfermedades crónicas. Comparto contenido sobre crianza respetuosa basada en disciplina positiva, y brindo
    asesorías
    especializadas en alimentación infantil, Baby Led Weaning, estimulación temprana y lactancia materna, combinando
    un
    enfoque científico con atención humanizada.</p>
</section>