<section class="servicios" id="servicios" layout-align="start center" layout="column">
    <h1 data-aos="fade-up">Mis Servicios</h1>
    <div class="botonera" layout="row" flex="100" layout-align="space-around center" layout-margin show-xl show-lg
        show-md show-sm hide-xs data-aos="fade-up">
        <div class="calculadora_edad_gestacional boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Calculadora Edad Gestacional</p>
        </div>
        <div class="control_post_parto boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Control Post Parto</p>
        </div>
        <div class="asesorias_rcp_primeros_auxilios boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Asesorías en RCP y Primeros Auxilios</p>
        </div>
    </div>
    <div class="botonera" layout="row" flex="100" layout-align="space-around center" layout-margin show-xl show-lg
        show-md show-sm hide-xs data-aos="fade-up">
        <div class="salud_femenina boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Salud Femenina</p>
        </div>
        <div class="dictamenes_recetas_medicas boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Dictámenes y Recetas Médicas</p>
        </div>
        <div class="alimentacion_complementaria boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Alimentación Complementaria</p>
        </div>
    </div>
    <div class="botonera" layout="row" flex="100" layout-align="space-around center" layout-margin show-xl show-lg
        show-md show-sm hide-xs data-aos="fade-up">
        <div class="crianza_respetuosa boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Crianza Respetuosa</p>
        </div>
        <div class="control_prenatal boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Control Prenatal</p>
        </div>
        <div class="estimulacion_oportuna_infantil boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Estimulación Oportuna Infantil</p>
        </div>
    </div>
    <div class="botonera" layout="row" flex="100" layout-align="space-around center" layout-margin show-xl show-lg
        show-md show-sm hide-xs data-aos="fade-up">
        <div class="crecimiento_desarrollo_infantil boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Crecimiento y Desarrollo infantil</p>
        </div>
        <div class="asesora_lactancia_materna boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Asesora en Lactancia Materna</p>
        </div>
        <div class="atencion_medica boton-wrapper" layout="column" layout-align="space-around center">
            <div class="boton"></div>
            <p>Atención Médica</p>
        </div>
    </div>

    <!--XS-->

    <div class="botonera" layout="column" flex="100" layout-align="space-around center" layout-margin hide-xl hide-lg
        hide-md hide-sm show-xs>
        <div ng-click="showDialog('calculadora_edad_gestacional')" class="calculadora_edad_gestacional boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Calculadora Edad Gestacional</p>
        </div>
        <div ng-click="showDialog('control_post_parto')" class="control_post_parto boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Control Post Parto</p>
        </div>
        <div class="salud_femenina boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Salud Femenina</p>
        </div>
        <div class="dictamenes_recetas_medicas boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Dictámenes y Recetas Médicas</p>
        </div>
        <div class="crianza_respetuosa boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Crianza Respetuosa</p>
        </div>
        <div class="control_prenatal boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Control Prenatal</p>
        </div>
        <div class="crecimiento_desarrollo_infantil boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Crecimiento y Desarrollo infantil</p>
        </div>
        <div class="asesora_lactancia_materna boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Asesora en Lactancia Materna</p>
        </div>
        <div class="asesorias_rcp_primeros_auxilios boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Asesorías en RCP y Primeros Auxilios</p>
        </div>
        <div class="alimentacion_complementaria boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Alimentación Complementaria</p>
        </div>
        <div class="estimulacion_oportuna_infantil boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Estimulación Oportuna Infantil</p>
        </div>
        <div class="atencion_medica boton-wrapper" layout="column" layout-align="space-around center" data-aos="fade-up">
            <div class="boton"></div>
            <p>Atención Médica</p>
        </div>
    </div>
</section>