<div class="blog">
  <h1>Blog</h1>
  <div layout="column">
    <div ng-repeat="row in rows" layout="row">
      <md-card md-theme-watch ng-repeat="post in row.posts">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"
              >{{ post.titulo }} - {{ post.fecha }}</span
            >
            <span class="md-subhead">{{ post.texto }}...</span>
            <a href="#">ver mas</a>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media">
            <a href="#"><img src="{{ post.foto }}" width="290" /></a>
            <p>{{ post.autor }}</p>
          </div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button">
              <md-icon>share</md-icon>
            </md-button>
            <md-button class="md-icon-button">
              <md-icon>favorite</md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
